#hint {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  text-align: center;
  user-select: none;
}

.message {
  display: inline-flex;
  background-color: white;
  color: #666666;
  justify-content: space-around;
  font-family: "Lucida Grande", verdana, sans-serif;
  font-size: 12px;
  line-height: 32px;
  border-radius: 10.56px;
  padding: 0 16px;
}

.hint-enter {
  opacity: 0;
}

.hint-enter.hint-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
